### 0. 도입

#### 파일 시스템 vs 데이터베이스(DBMS)

In [ ]:
'''
파일 시스템은 원시 데이터 파일을 컴퓨터의 하드 디스크 등에 저장하는 시스템이다. 
중복 데이터가 많이 발생하고 데이터의 일관성이 떨어지며 보안, 백업·복구가 불편한 문제가 있었다.

데이터베이스는 그러한 파일 시스템의 단점을 보완하고 데이터의 모델링, 무결성, 다수 사용자를 위한 동시성 제어 등을 제공한다.

참고로 이 책에서 다루는 SQLite는 하나의 데이터베이스를 한 개의 파일에 저장하지만, 모든 DBMS가 그런 것은 아니다. 
데이터베이스를 여러 개의 파일에 저장하거나 아예 파일 시스템을 이용하지 않고 디스크에 직접 기록하는 기능을 지원하는 DBMS도 있다.

파일 시스템 방식:

    예를 들어 user1.txt, user2.txt, order1.csv 이런 식으로 각각의 파일에 데이터를 저장
    파일들이 서로 독립적이라 데이터 간의 관계를 관리하기 어려움
    같은 정보가 여러 파일에 중복 저장될 수 있음
    여러 사람이 동시에 수정하면 충돌 가능

데이터베이스 방식:

    데이터를 구조화해 저장 (테이블, 관계 등)
    데이터 간의 관계를 정의하고 무결성을 보장
    중복을 최소화하고 일관성 유지
    동시성 제어, 트랜잭션 등을 제공
'''

#### 관계형, 계층형, 그래프 데이터 베이스 (벡터 DB는 별도의 범주)

In [ ]:
'''
관계형 데이터베이스 - RDBMS(Relational DBMS)
관계형 데이터베이스는 데이터를 관계(relation)로 나타낸다. - 이를테면 CSV같은..

일반적으로 DBMS라고 하면 RDBMS(Relational DBMS)를 가리킨다. 
오라클 데이터베이스 서버, 마이크로소프트 SQL 서버, MySQL과 MariaDB, SQLite, PostgreSQL 등이 이에 해당한다.

SQLite: SQLite는 가장 널리 사용되는 데이터베이스 엔진으로, 
임베디드 디바이스, 사물 인터넷, 데이터 분석, 작은 규모의 웹사이트에 사용하기 적합하다.

SQLite의 특징:

    SQLite는 임베디드 SQL 데이터베이스 엔진으로, 독립적인 서버 프로세스를 갖지 않는다.
    설치 과정이 없고, 설정 파일도 존재하지 않는다.
    테이블, 인덱스, 트리거, 뷰 등을 포함한 완전한 데이터베이스가 디스크 상에 단 하나의 파일로 존재한다.
    퍼블릭 도메인5으로서 개인적 또는 상업적 목적으로 사용할 수 있다.


일반적인 DB(MySQL, PostgreSQL)와 임베디드 DB(SQLite)의 차이

    일반적인 데이터베이스 (MySQL, PostgreSQL 등):

        별도의 서버 프로세스가 독립적으로 실행됨
        애플리케이션이 네트워크를 통해 DB 서버에 접속 (외부 네트워크 필요)
        설치/설정/관리가 필요

    임베디드 데이터베이스 (SQLite):

        서버 없이 애플리케이션에 직접 포함됨 (embedded = 내장된)
        라이브러리처럼 프로그램 안에서 바로 동작
        별도 설치/설정 없이 파일 하나로 동작
        설정이 간단하고 가벼움

'''

#### Relation (관계/테이블)

| Attribute 1 | Attribute 2 | Attribute 3 | Attribute 4 | Attribute 5 |
|-------------|-------------|-------------|-------------|-------------|
| 데이터      | 데이터      | 데이터      | 데이터      | 데이터      |
| 데이터      | 데이터      | 데이터      | 데이터      | 데이터      |
| 데이터      | 데이터      | 데이터      | 데이터      | 데이터      |  
| 데이터      | 데이터      | 데이터      | 데이터      | 데이터      |
| 데이터      | 데이터      | 데이터      | 데이터      | 데이터      |
      Tuple (튜플/행)
      Attribute (속성/열)

In [ ]:
'''
관계형 데이터베이스에서는 데이터를 ‘관계’로 나타내며, 이는 ‘테이블’로 구현된다. 

‘행’과 ‘열’에 해당하는 것을 ‘튜플’과 ‘속성’이라는 용어로 가리킨다.

CSV와의 차이:
    참조 무결성: 존재하지 않는 user_id를 넣으면 에러 발생
    데이터 타입 강제: age에 문자열 넣으면 거부
    트랜잭션: 여러 작업을 하나로 묶어 안전하게 처리
    인덱스: 검색 속도 대폭 향상
    동시성 제어: 여러 사용자가 동시에 안전하게 접근
    복잡한 쿼리: JOIN으로 여러 테이블 결합
    
** DB와 CSV간에 import와 export도 자주 함 (형식 자체는 동일하기 때문)
    DB는 관리/검색/무결성에 강함
    CSV는 호환성/단순함에 강함
    필요에 따라 서로 변환해서 사용
'''

#### 스프레드시트와 데이터베이스의 비교

마이크로소프트 엑셀(Microsoft Excel)이나 구글 스프레드시트(Google Sheets) 같은 스프레드시트와 (관계형) 데이터베이스의 차이는 다음과 같다.

| 스프레드시트 | 데이터베이스 |
|-------------|-------------|
| 소프트웨어 애플리케이션이다 | SQL과 같은 질의 언어(query language)를 사용해 액세스하는 데이터 스토어(data store)다 |
| 행(row)과 열(column)의 형식으로 데이터를 구조화한다 | 규칙(rule)과 관계(relationship)로 데이터를 구조화한다 |
| 정보를 셀(cell)에 조직화(organize)한다 | 정보를 복합적인 컬렉션에 조직화한다 |
| 제한적인 양의 데이터에 대한 액세스를 제공한다 | 대량의 데이터에 대한 액세스를 제공한다 |
| 수동으로 데이터를 입력한다 | 엄격하고 일관적인 데이터 입력 |
| 일반적으로 한 번에 한 명의 사용자 | 다중 사용자 |
| 사용자에 의해 통제된다 | 데이터베이스 관리 시스템(database management system)에 의해 통제된다 |

#### SQL(Structured Query Language)

In [ ]:
'''
SQL은 RDBMS의 데이터를 다루기 위해 사용하는 언어다.

DML(Data Manipulation Language, 데이터 조작 언어): 
    DML은 데이터를 추가, 삭제, 갱신, 조회하는 데 사용
    INSERT, DELETE, UPDATE, SELECT 문이 DML에 해당

DDL(Data Definition Language, 데이터 정의 언어): 
    DDL은 테이블 등을 생성, 변경, 제거하는 데 사용
    CREATE, ALTER, DROP, TRUNCATE 문이 DDL에 해당
    참고로 SQLite에는 TRUNCATE 문이 없음
'''

### 1. 추가, 삭제, 갱신, 조회

#### 데이터 생성

In [ ]:
'''
DB Browser for SQLite의 File → New database 메뉴를 선택하거나, DB toolbar에 있는 New Database 버튼을 클릭한다. 
단축키는 Ctrl + N

Choose a filename to save under 창이 열리면 파일 이름을 입력하고 저장 버튼을 클릭한다. 
파일 형식은 SQLite database files (*.db *.sqlite *.sqlite3 *.db3)로 선택되어 있으므로 그대로 두면 된다.
'''

#### 테이블 정의

In [ ]:
'''
Edit table definition 창 안의 Table에 테이블 명을 입력하고, Fields 탭에서 Add 버튼을 누른다.

Name 열에 Field1이 나타나면 ID로 바꾸고, NN, PK, AI 체크박스에 체크한다. 
    NN: not null — 널 값을 허용하지 않음
    PK: primary key — 기본 키로 설정 (NN과 U 자동적용)
    AI: autoincrement — 자동 증가 (PK와 함께 체크)
    U: Unique - 중복된 값 허용 안 함
'''

In [ ]:
# Python만으로 하려고 할 땐 (지금은 SQLite Browser 사용)

import sqlite3

# 데이터베이스 연결 (파일이 없으면 자동 생성)
conn = sqlite3.connect('A.db')

# cursor 생성
cursor = conn.cursor()

# SQL 실행
cursor.execute("""
CREATE TABLE "Person" (
    "ID" INTEGER NOT NULL,
    "Name" TEXT NOT NULL,
    "Birthday" TEXT,
    PRIMARY KEY("ID" AUTOINCREMENT)
);
""")

# 변경사항 저장
conn.commit()

# 연결 종료
conn.close()

#### 데이터 추가

In [ ]:
'''
행을 추가할 때는 INSERT 문을 사용한다. 

다음의 SQL 문을 입력해보라. (SQL실행 칸)

    INSERT INTO Person (ID, Name, Birthday)
    VALUES (1, '이혜리', '1994-06-09');

DB Browser for SQLite에서 자동완성을 지원하므로, 입력하는 도중에 툴팁이 뜨면 원하는 항목을 선택하고 Tab 또는 Enter 키를 눌러서 진행할 수도 있다.



모든 컬럼에 순서대로 값을 넣을 때는 컬럼명을 생략하고, 아래와 같이 쓸 수 있다.

    INSERT INTO Person
    VALUES (1, '이혜리', '1994-06-09');


SQL 문의 키워드는 대문자와 소문자를 가리지 않으며, 줄바꿈을 하지 않아도 된다. 
또한, SQL 문장을 하나만 입력하였을 때는 행의 끝에 세미콜론을 넣지 않아도 된다. 
따라서, 아래와 같은 문장도 유효하다.

    insert into Person values (1, '이혜리', '1994-06-09')
'''

#### 데이터 삭제

In [ ]:
'''
행을 삭제할 때는 DELETE 문을 사용한다.

    DELETE FROM Person;

위와 같이 실행하고 테이블을 조회해보면 몇 건이 있었든 간에 들어있던 행이 모두 지워졌을 것이다. 
행은 지워졌지만 테이블의 구조는 변함이 없다.

특정 행을 삭제하기 위해서는
    DELETE 
'''

#### 데이터 갱신

In [ ]:
'''
갱신(수정)할 때는 UPDATE 문을 사용한다. 행을 다시 INSERT한 다음, UPDATE 문을 실행해보자.

    INSERT INTO Person VALUES (1, '이혜리', '1994-06-09');

    UPDATE Person SET Name = '혜리';

Person의 모든 Name행이 '혜리'로 바뀜;;
'''

In [ ]:
'''
UPDATE문 예시;

-- 특정 사람만 수정 (WHERE 절 사용)
    UPDATE Person SET Name = '혜리' WHERE ID = 1;

-- 여러 컬럼 동시 수정
    UPDATE Person 
    SET Name = '혜리', Birthday = '1994-06-10' 
    WHERE ID = 1;

-- 모든 사람의 이름 변경 (WHERE 없으면 전체 적용!)
    UPDATE Person SET Name = '홍길동';  -- 위험! 모든 행이 바뀜
'''

#### 데이터 조회

In [ ]:
'''
조회할 때는 SELECT 문을 사용한다. 
다음의 문장은 Person 테이블의 모든 행과 열을 조회한다.

    SELECT * FROM Person;

앞에서 UPDATE 문을 수행한 결과로 이름이 바뀐 것을 확인할 수 있을 것이다.
'''

##### 예제1

In [ ]:
'''
1. Person 테이블에 행을 더 추가해보라
2. 방금 추가한 행을 삭제해보라

답안:
    INSERT INTO Person values (2, '신봉길', '1999-12-25');
    DELETE FROM Person WHERE ID=2;
'''

#### 여러 행 INSERT

In [ ]:
'''
Person 테이블에 행을 추가하자. 
VALUES 절에 여러 행의 값을 적어서 한 번에 삽입할 수 있다.

    INSERT INTO Person (Name, Birthday)
    VALUES ('박소진', '1986-05-21'), ('김아영', '1992-11-06');

## ID는 AI(AUTOINCREASE)이기 때문에 ID열을 생략하고 INSERT 해도 1씩 증가함
'''

#### 널(NULL)

In [ ]:
'''
Person 테이블을 정의할 때 Birthday 컬럼은 널 값을 허용하도록 했으므로, 
다음과 같이 실행하더라도 문제가 없다.

    INSERT INTO Person (Name) VALUES ('민아');

    DELETE FROM Person WHERE Birthday IS NULL
    
    
## 참고로 해당 결측치 NULL은 = 가 아닌 IS 로 지칭한다.
    DELETE FROM Person WHERE Birthday IS NULL
'''

#### 원하는 열만 조회하기

In [ ]:
'''
SELECT 절에 컬럼명을 지정하여 조회할 수 있다.

    SELECT Name FROM Person;
'''

#### 원하는 순서로 조회하기

In [ ]:
'''
특정 컬럼을 기준으로 행을 정렬하여 조회할 수 있다.
다음 문장은 Person 테이블의 Name 컬럼을 나열하되, Name을 기준으로 오름차순으로 정렬한다.

    SELECT Name FROM Person ORDER BY Name;
    
DESC 키워드를 추가하여 역순으로 조회할 수 있다.

    SELECT Name FROM Person ORDER BY Name DESC;


해당 내용은 inplace=False, 즉 원본을 수정하지 않는다
'''

#### LIKE

In [ ]:
'''
WHERE 절에 = 대신 LIKE를 사용하여, 패턴과 일치하는 문자열을 찾을 수 있다.

    SELECT * FROM Person WHERE Birthday LIKE '1986%';



## SQLite에서 %는 와일드카드 - 0개 이상의 임의의 문자라는 뜻
    1986% => 1986~~~~~~~~~~~~~~~~~ 이라고 보면 됨
'''

##### 예제2

In [ ]:
'''
1. Person 테이블을 나이순으로 정렬해 조회해보라
2. Person 테이블에서 김으로 시작하는 행을 찾아서 그 값을 유라로 바꾸어 보라
3. Pet 테이블에 다음과 같은 데이터를 넣어라

답안
1. SELECT * FROM Person ORDER BY Birthday;
2. 

'''